h1{
    text-align: center;
    text-decoration: underline;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
}

h2{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#container {
    text-align: center;
    background-color: #cfe9ea;
    height: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
}

#divHeader{
    background-color: #D6F8E0;
    padding: 30px;
}

button{
    width: 80px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#divChkBox{
    text-align: left;
    margin-left:  10px;
}

input {
    height: 50px;
    width: 400px;
    margin-left: 10px;
}

div #chkAgree{
    height: auto;
    width: auto;
}

#divBtnSubmitSignUp, #divBtnSubmitLogIn, #divBtnSubmitModify, #divQYCLR, #divBtnHome{
    text-align: left;
    margin-top: 20px;
    height: 50px;
}

#divLogOut, #divAccountSettings{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

#divDashBoard{
    height: 1000px;
    padding-top: 50px;
    margin-top: 50px;
    border: black solid 2px;
}

#myForm2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#myForm{
    padding-bottom: 20px;
}


.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    color: red;
}